pip install aiocontextvars
pip install amqp
pip install asgiref
pip install async
pip install attrs
pip install billiard
pip install cached
pip install celery
pip install centerline
pip install certifi
pip install chardet
pip install charset
pip install click
pip install click
pip install click
pip install click
pip install cligj
pip install contextvars
pip install cycler
pip install decorator
pip install Deprecated
pip install distlib
pip install Django
pip install django
pip install dnspython
pip install dxfgrabber
pip install eventlet
pip install ezdxf
pip install filelock
pip install Fiona
pip install Flask
pip install flower
pip install GeoAlchemy2
pip install gevent
pip install greenlet
pip install gunicorn
pip install humanize
pip install idna
pip install immutables
pip install importlib
pip install importlib
pip install itsdangerous
pip install Jinja2
pip install joblib
pip install kiwisolver
pip install kombu
pip install lightgbm
pip install loguru
pip install lxml
pip install MarkupSafe
pip install matplotlib
pip install mpmath
pip install munch
pip install networkx
pip install numpy
pip install packaging
pip install pandas
pip install Pillow
pip install platformdirs
pip install prometheus
pip install prompt
pip install psycopg2
pip install py
pip install pyparsing
pip install python
pip install python
pip install pytz
pip install redis
pip install requests
pip install requests
pip install scikit
pip install scipy
pip install Shapely
pip install six
pip install SQLAlchemy
pip install sqlparse
pip install sympy
pip install threadpoolctl
pip install tornado
pip install tqdm
pip install typing_extensions
pip install urllib3
pip install vine
pip install virtualenv
pip install wcwidth
pip install Werkzeug
pip install wrapt
pip install zipp
